<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quiz Website</title>
<style>
</style>
 </head>
 <body>

<div class="container-fluid ">
        <% include ./partials/navbar %>
  <div class="row " style="padding: 10px;">
   <div class="col-12 text-center"><h1>My Profile</h1> </div>
  </div>
 
    <% if(data['user'].type=='teacher') { %>
      <div class="row justify-content-center" style="padding: 10px;">
            <div class="col-lg-2 col-md-3 col-sm-12  text-center"> <a class="btn btn-primary" href="http://localhost:8080/getMyPublishedQuizes/0">Show Published Quizes </a> </div> 
              &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="col-lg-2 col-md-3 col-sm-12 text-center"><a class="btn btn-warning" href="http://localhost:8080/getMySavedQuizes/0">Show Saved Quizes </a> </div>
       </div>
     <% } %>
     <% if(data['user'].type=='student') { %>
      <div class="row justify-content-center">
             <a class="btn btn-primary"  href="http://localhost:8080/getAllQuizesCategory"> Try Quizes</a>
       </div>
     <% } %>
     <br>
  <div class="row">
   <div class="col-sm-12">
    <div class="card card-body bg-light">
     <div class="text-center"><img class="rounded-circle" src="http://localhost:8080<%=data['user'].image%>" style="width:100px;height: 100px;"></div>
     <br>
     <h3><span class="fa fa-user"></span> Welcome <%= data['user'].firstName %> </h3>
     <br>
     <p>
      <strong>fullName: </strong> <%= data['user'].firstName %> <%= data['user'].lastName %> <br><br>
      <strong>Age : </strong> <%= data['user'].age %> <br><br>
      <strong>Email : </strong> <%= data['user'].email %> <br><br>
      <strong>Phone Number : </strong> <%= data['user'].phoneNumber %> <br><br>
      <strong>Address : </strong> <%= data['user'].address %> <br><br>
      <strong>Gender : </strong> <%= data['user'].gender %> <br><br>
      <strong>Type : </strong> <%= data['user'].type %> <br><br>
     </p>
    </div>
    <br>
   </div>
  </div>
 </div>
<br>
 <% include ./partials/footer %>
</body>
</html>