<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quizz Website</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container-fluid">
        <% include ./partials/navbar %>
  <div class="row " style="padding: 10px;">
   <div class="col-12 text-center"><h1>My Profile</h1> </div>
  </div>
  <div class="row " style="padding: 10px;">
    <% if(user.type=='teacher') { %>
      <div class="col-12 text-center">
             <a class="btn btn-primary" href="/getMyPublishedQuizes/<%=user.ID%>/0">Show Published Quizes </a>  &nbsp;
             <a class="btn btn-warning">Show Saved Quizes </a> 
       </div>
     <% } %>
  </div>
  <div class="row">
   <div class="col-sm-12">
    <div class="card card-body bg-light">
     <div class="text-center"><img class="rounded-circle" src="http://localhost:8080<%=user.image%>" style="width:100px;height: 100px;"></div>
     <h3><span class="fa fa-user"></span> Welcome <%= user.firstName %> </h3>
     <br>
     <p>
      <strong>fullName: </strong> <%= user.firstName %> <%= user.lastName %> <br><br>
      <strong>Age : </strong> <%= user.age %> <br><br>
      <strong>Email : </strong> <%= user.email %> <br><br>
      <strong>Phone Number : </strong> <%= user.phoneNumber %> <br><br>
      <strong>Address : </strong> <%= user.address %> <br><br>
      <strong>Gender : </strong> <%= user.gender %> <br><br>
      <strong>Type : </strong> <%= user.type %> <br><br>
     </p>
    </div>
    <br>
   </div>
  </div>
 </div>
 <% include ./partials/footer %>
</body>
</html>