<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quizz Website</title>
    
<style>
@media screen and (max-width: 500px) {
  .containers {
    height: 800px;
  } 
}
</style>
 </head>
 <body>
<div class="container-fluid containers">

  <% include ./partials/navbar %>
    <br>
    <div style="min-height: 600px;">
    <% if(data['quizes'].length>0) { %>
    <div class="row">
        <div class="col-12 text-center"><h2>TRY Any Quiz Now</h2></div>
    </div>
                
    <br>
    <div class="row" >
    <div class="col-12" style="text-align: center;">
    <div class="col-11 text-center" style="margin: 0 auto;min-height: 400px;" >
        <% for (var i = 0 ; i < data['quizes'].length ; i++) { %>
            <div class="card">
                    <h4 class="card-header"><%=data['quizes'][i]['name']%></h4>
                    <div class="card-body">
                      <h4 class="card-title"><%=data['quizes'][i]['category']%> Exam</h4>
                      <span class="card-text"><b>Exam Code: <%=data['quizes'][i]['code']%></b></span>
                      <br> 
                      <a href="/startQuiz/<%=data['quizes'][i]['ID']%>" class="btn btn-success" style="margin-top: 10px;">Start Quiz</a>
                    </div>
            </div>
            <br>
         <% } %>  
    </div>
    </div>
    </div>
    
    
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
                <ul class="pagination pagination-lg">
                  <% for( let i=0;i< data['count'] ;i++)  { %>
                  <li class="page-item"><a class="page-link" href="/getAllQuizesBYCategory/<%=data['quizes'][i]['category']%>/<%=i%>"><%=(i+1)%></a></li>
                  <% }  %>
                </ul>
              </nav>
     </div>
    <% } else { %>
        <div class="row" style="justify-content:center;padding-top: 150px;">
            <span style="font-size: 2.5vw;"> Quizes Not Founded </span>
        </div>
       <% } %>
    </div>
    <br>
    <% include ./partials/footer %>
    </div>
  
  </body>
    </html>

    <script>
    
    </script>