<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quiz Website</title>
    
<style>
@media screen and (max-width: 500px) {
  .containers {
    height: 800px;
  } 
}
.answer{
    font-size: 1.3rem;
}
</style>
 </head>
 <body>
<div class="container-fluid containers">
    <% include ./partials/navbar %>
   <br>

<div class="row">  
    <div class="col-12">
 <div class="card card-body bg-light">
        <div style="text-align: center;"> 
            <span style="font-size: 2.5rem;">Quiz Details</span>
        </div> 
        <br>
    <div class="card border-primary mb-5">
           <div class="card-header">#</div>
            <div class="card-body text-primary">
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Name : </span><span style="font-size:1.4rem"><%=data['quiz'].name%></span> 
              <br>
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Code : </span><span style="font-size:1.4rem"><%=data['quiz'].code%></span> 
              <br>
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Category : </span><span style="font-size:1.4rem"><%=data['quiz'].category%></span> 
              <br>
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Is Ready : </span>
              <span style="font-size:1.4rem;" class="card-text">
                  <% if(data['quiz'].isReady == 1) { %>
                     published
                  <% } else { %>
                      saved  
                  <% } %>   
              </span> 
            </div>
        </div>
<hr>
   <span style="font-size: 2rem"> Questions : </span>
   <br>
   <% for(let i=0;i< data['questions'].length;i++) { %>
   <div class="">
     <span style="font-size: 1.5rem"><%=(i+1)%> . <%=data['questions'][i].question%> ?</span>
     <br>
     <span class="answer">a. <%=data['questions'][i].answer1%> </span>
     <br>
     <span class="answer">b. <%=data['questions'][i].answer2%></span>
     <br>
     <span class="answer">c. <%=data['questions'][i].answer3%></span>
     <br>
     <span class="answer">d. <%=data['questions'][i].answer4%></span>
     <br>
     <span class="answer" style="color: green;">Correct Answer : <%=data['questions'][i].correct%></span>
     <br>
     <span class="answer" style="color: red;">Explaination : <%=data['questions'][i].explaination%></span>
     <br>
   </div>
   <br>
   <% } %>
 </div>
 </div>
</div>
<br>
<% include ./partials/footer %>
</div>

</body>
</html>