<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quizz Website</title>
    
<style>
@media screen and (max-width: 500px) {
  .containers {
    height: 750px;
  } 
}
.answer{
    font-size: 1.2rem;
}
</style>
 </head>
 <body>

<div class="container-fluid containers">
   <% include ./partials/navbar %>
<br>
<% if(data["status"] == true) { %>
<div class="row">  
    <div class="col-12">
 <div class="card card-body bg-light">
        <div style="text-align: center;"> 
            <span style="font-size: 2rem;">Quiz Details And Questions</span>
        </div> 
        <br>
    <div class="card border-primary mb-5">
           <div class="card-header">#</div>
            <div class="card-body text-primary">
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Name : </span><span style="font-size:1.2rem;"><%=data['quiz'].name%></span> 
              <br>
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Code : </span><span style="font-size:1.2rem;"><%=data['quiz'].code%></span> 
              <br>
              <span style="font-size: 1.5rem;padding-top: 20px;" class="card-text"> Category : </span><span style="font-size:1.2rem;"><%=data['quiz'].category%></span> 
              <br>
            </div>
        </div>
<hr>
<div class="d-flex flex-row-reverse">
    <div id="timer" style="font-size: 1.8rem;"></div>
</div>
<br>
   <span style="font-size: 1.8rem;"> Questions : </span>
   <form method="POST" action="/getStudentResult/<%=data['quiz'].ID%>">
   <br>
   <% for(let i=0;i< data['questions'].length;i++) { %>
   <div class="">
     <span style="font-size: 1.5rem;"><%=(i+1)%> . <%=data['questions'][i].question%> ? </span>
     <br>
     <span class="answer">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline<%=((i*(i+1)*(i+1))+1)%>"
         name="customRadioInline<%=((i*(i+1)*(i+1))+1)%>" class="custom-control-input"
         value="<%=data['questions'][i]['answer1']%>"
         required >
        <label class="custom-control-label" for="customRadioInline<%=((i*(i+1)*(i+1))+1)%>"></label>
        <span><%=data['questions'][i]['answer1']%></span>
      </div>
     </span>
     <br>
     <span class="answer">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline<%=((i*(i+1)*(i+1))+2)%>" 
        name="customRadioInline<%=((i*(i+1)*(i+1))+1)%>"
        value="<%=data['questions'][i]['answer2']%>"
        class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline<%=((i*(i+1)*(i+1))+2)%>"></label>
        <span><%=data['questions'][i]['answer2']%></span>
      </div>
     </span>
     <br>
     <span class="answer">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline<%=((i*(i+1)*(i+1))+3)%>"
         name="customRadioInline<%=((i*(i+1)*(i+1))+1)%>" 
         value="<%=data['questions'][i]['answer3']%>"
         class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline<%=((i*(i+1)*(i+1))+3)%>"></label>
        <span><%=data['questions'][i]['answer3']%></span>
      </div>
     </span>
     <br>
     <span class="answer">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline<%=((i*(i+1)*(i+1))+4)%>"
         name="customRadioInline<%=((i*(i+1)*(i+1))+1)%>"
         value="<%=data['questions'][i]['answer4']%>"
         class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline<%=((i*(i+1)*(i+1))+4)%>"></label>
        <span><%=data['questions'][i]['answer4']%></span>
      </div>
     </span>
     <br>
   </div>
   <br>
   <% } %>
   <input type="text" name="spentTime" hidden /> 
   <div>
    <button class="btn btn-success" type="submit">Show Quiz Result</button>
  </div>
</form>
  <br>
 </div>
 </div>
</div>
<% } else { %>
  <div class="row" style="justify-content:center;padding-top: 150px;">
    <span style="font-size: 2rem;"> Quize Not Founded </span>
</div>
<% } %>

<br>
<% include ./partials/footer %>
</div>
 </body>
</html>


<script>
var timerVar = setInterval(countTimer, 1000);
var totalSeconds = 0;
function countTimer() {
   ++totalSeconds;
   var hour = Math.floor(totalSeconds /3600);
   var minute = Math.floor((totalSeconds - hour*3600)/60);
   var seconds = totalSeconds - (hour*3600 + minute*60);

   document.getElementById("timer").innerHTML = hour + ":" + minute + ":" + seconds;
   document.getElementsByName("spentTime")[0].value=hour + ":" + minute + ":" + seconds ;
}
</script>